{% trans_default_domain 'IFG' %}
{% extends 'base.html.twig' %} 
{% block content %} 
<div class="upload_page table_beauti">
        {{ form_start(form) }}
        <table>
            <tr>
                <th>{{ form_label(form.filename) }}</th>
                <td>{{ form_errors(form.filename) }} {{ form_widget(form.filename) }}</td>
            </tr>
        </table>
        {{ form_rest(form) }}
        <div class="text-center infotosaisie_btn">
            <div class="sdpd__btn link_download">{{res_ch|raw}}</div>
            <input type="submit" value="Upload" class="sdpd__btn">
        </div>
        {{ form_end(form) }} 
        {#
            "Download" et "Upload" sont tout "télécharger" en français, on prend du coup en mot anglais.
        #}
</div>
{% endblock %} 
{% block javascripts %}
{{parent()}}
<script>
    $(document).ready(function () {
        $(".link_download a").text('Download');
        $(".link_download a").css('color', "#fff");
    })
</script>
{% endblock %}