{% trans_default_domain 'IFG' %}
{% extends "base.html.twig" %}
{% block content %}
<div class="changepassword_page table_beauti">
    {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
    <table>
        <tr>
            <th>{{ form_label(form.current_password) }}</th>
            <td>{{ form_errors(form.current_password) }} {{ form_widget(form.current_password) }}</td>
        </tr>
        <tr>
            <th>{{ form_label(form.plainPassword.first) }}</th>
            <td>{{ form_errors(form.plainPassword.first) }} {{ form_widget(form.plainPassword.first) }}</td>
        </tr>
        <tr>
            <th>{{ form_label(form.plainPassword.second) }}</th>
            <td>{{ form_errors(form.plainPassword.second) }} {{ form_widget(form.plainPassword.second) }}</td>
        </tr>
    </table>
    <div class="text-center">
        <a href="/profile" class="sdpd__btn">{{ 'variables.back'|trans }}</a>
        <input type="submit" value="{{ 'variables.update'|trans }}" class="sdpd__btn"/>
    </div>
    {{ form_end(form) }}

</div>
{% endblock %}