{% trans_default_domain 'IFG' %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Suivi de Production des DIBE{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('data_favicon.png') }}" />
    <link rel="stylesheet" href="{{ asset('css/style.css') }}" /> 
    <link rel="stylesheet" href="{{ asset('css/vendor/bootstrap.min.css') }}" />
    {% block stylesheets %}{% endblock %}
</head>

<body>
    <div class="header">
        <div class="container">
            <div class="row">
                <img src="{{asset('images/logo/datainfogreffe_color.png')}}" class="logo" alt="SDPD">
                <nav>
                    <ul class="mainmenu">
                        <li>
                            <a href="/">{{'Summury.home'|trans}}</a>
                        </li>
                        {% if not app.user %}
                        <li>
                            <a href="/login">{{'Summury.login.title'|trans}}</a>
                        </li>
                        {% elseif app.user %}
                        <li class="drop">
                            <a>
                                <b>{{'Summury.login.hello'|trans}} {{app.user.firstname}} {{app.user.lastname}}</b>
                            </a>
                            <ul class="dropdown">
                                <li>
                                    <a class="drop_a">{{'Summury.login.lastlogin'|trans}}<br>{{app.user.lastLogin|date('Y-m-d H:i:s','Europe/Paris')}}</a>
                                </li>
                                <li>
                                    <a href="/profile" class="drop_a">{{'Summury.login.profile'|trans}}</a>
                                </li>
                                {% if app.user.roles[0] == 'ROLE_ADMIN' %}
                                <li>
                                    <a href="/User" class="drop_a">{{'Summury.login.userlist'|trans}}</a>
                                </li>
                                {% endif %}
                                <li>
                                    <a href="/logout" class="drop_a">{{'Summury.logout'|trans}}</a>
                                </li>
                            </ul>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
                
            </div>
            
        </div>
    </div>
    {% block content %}{% endblock %}
    <script src="{{ asset('js/vendor/bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/vendor/jquery-3.2.1.min.js') }}"></script>
    {% block javascripts %}
    <script src="{{ asset('js/active.js') }}"></script>
    <script>
        $(document).ready(function () {
            $('.logo').click(function(){
                location.href = '/';
            });
        })
    </script>
    {% endblock %}
</body>

</html>